/* David \'Alvarez Rosa's website main CSS Styles. */


/* Global. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.75em;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #A2A2A2;
    margin-bottom: 1.5em;
    text-align: justify;
}

a {
    text-decoration: none;
    outline: 0;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
}

.anchor {
    display: block;
    height: 5em;
    margin-top: -5em;
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}


::-moz-focus-inner {
    border: none;
}


/* Loading spinner. */
.preload * {
    animation-play-state: paused !important;
}

@keyframes spin {
    50% { transform: rotateZ(180deg); border-radius: 55%; }
    100% { transform: rotateZ(360deg); }
}

#loadingSpinner {
    width: 125px;
    height: 125px;
    position: fixed;
    top: calc(50% - 125px/2);
    left: calc(50% - 125px/2);
    z-index: 99999;
    display: flex;
    padding: 20px;
}

#loadingSpinner::before {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 10%;
    border: 25px inset #E65C00;
    animation: spin 1s infinite ease-in-out;
}

.hideLoadingSpinner {
    transition: 3s transform 1s linear;
    transform: translateY(1500px);
}


/* Information div. */
.info {
    position: fixed;
    width: 500px;
    max-width: 100%;
    height: 300px;
    left: calc(50% - 500px/2);
    top: calc(50% - 300px/2);
    z-index: 9999;
    background: #333333;
    opacity: .9;
    color: #F2F2F2;
    font-size: 1em;
    border-radius: .5em;
    line-height: 1.75em;
    border: solid 3px #D45B12;
    display: none;
    padding: .75em 1em;
    margin: 1em .5em 1em 0;
    outline: 0;
    box-shadow: 10px 10px 8px #000000;
}

.info strong {
    color: #D45B12;
    font-weight: 750;
}

.info p {
    color: #F2F2F2;
}

.info a {
    color: #D45B12;
    font-weight: 750;
}

.info ul {
    list-style: none;
}

.info img:hover, .info img:focus, .info img:active {
    transform: scale(1.2);
    transition: transform .1s linear .1s;
}

#blurBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    background-color: #000000;
    opacity: .5;
    display: none;
}


/* Scroll back to top button. */
#scrollTop {
    visibility: hidden;
    position: fixed;
    bottom: 25px;
    right: 0px;
    transition: visibility .5s, opacity .5s linear;
    z-index: 9;
    background-color: #D45B12;
    border-radius: 600px 0 0 600px;
}

#scrollTop i {
    color: #000000;
    vertical-align: middle;
    margin: .275em;
    margin-right: .35em;
}

#scrollTopSpan {
    font-size: 1.1em;
    font-weight: 600;
    color: #000000;
    padding-left: .75em;
    margin-right: -.5em;
    display: none;
}


/* Navigation bar. */
nav {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 35%;
    padding: .75em 0;
    width: calc(100% - 35% - 4.35em);
    position: fixed;
    white-space: nowrap;
    transition: padding .4s linear;
    background-image: linear-gradient(
        to bottom,
        rgba(51, 51, 51, .85) 0%,
        rgba(51, 51, 51, .85) 95%,
        transparent 95%,
        transparent 100%);
    z-index: 99;
}

nav a {
    color: #F2F2F2;
    text-align: center;
    padding: 1.5em 1em;
    font-size: 1.1em;
    font-weight: 600;
    background-image: linear-gradient(#DDDDDD, #DDDDDD);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 0 95%;
    transition: background-color .25s, color .25s ease, background-size .5s, padding .4s linear;
}

nav a:hover, nav a:focus, nav a:active {
    color: #000000;
    background-size: 100% 95%;
}

nav a.current {
    color: #000000;
    background-color: #D45B12;
}

nav a.current:hover, nav a.current:focus, nav a.current:active {
    background-color: transparent;
    background-size: 100% 100%;
}

nav.responsive {
    position: sticky;
    margin-left: calc(100% - 250px);
    top: 0;
    overflow-y: auto;
    width: 250px;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
    background-color: #333333;
    padding: 0;
    opacity: .9;
    border: 3px solid #D45B12;
    z-index: 999;
}

nav.responsive a {
    display: block;
    float: none;
    text-align: left;
    margin: -.25em 0;
}

#navBarButton {
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    color: #FFFFFF;
    width: 4.75em;
    height: 4.6em;
    padding-top: .15em;
    background-color: #1A1A1A;
    opacity: .85;
    z-index: 1000;
    background-image: linear-gradient(#BFBFBF, #BFBFBF);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s ease, color .5s ease, height .4s linear;
}

#navBarButton:hover, #navBarButton:focus, #navBarButton:active {
    color: #000000;
    background-size: 100% 100%;
}

#navBarButton i {
    padding: .3em;
}


/* Header. */
header {
    background-color: #1F1815;
    background-image:      url("images/overlay.png"), url("images/background.jpeg");
    background-position:   top left,                  top left;
    background-repeat:     repeat,                    no-repeat;
    background-size:       auto,                      cover;

    text-align: right;
    padding: 9% 4em;

    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%
}

header h1, h2 {
    color: rgba(255, 255, 255, .75);
}

header h1 {
    font-size: 2em;
    font-weight: 600;
}

header h2 {
    font-size: 1.1em;
    font-weight: 550;
}

header strong {
    color: #FFFFFF;
}


/* Main. */
main {
    margin-left: 35%;
    max-width: 54em;
    padding: 3em 4em 7.5em 4em;
    width: calc(100% - 35%);
}

main h2, h3 {
    color: #787878;
    line-height: 1.5em;
}

main h2 {
    font-size: 2em;
}

main h3 {
    font-size: 1.25em;
    padding-bottom: -1em;
}

main section {
    padding-bottom: .5em;
}

main section h2 {
    border-bottom: solid 2px #CCCCCC;
    margin-bottom: .75em;
}

main ul {
    padding-left: 3em;
}


/* Footer. */
footer {
    text-align: right;
    padding-right: 4em;
    position: fixed;
    bottom: 2%;
    min-top: 600px;
    left: 0;
    width: 35%;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    list-style: none;
    width: 4.15em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

footer .icon {
    color: rgba(255, 255, 255, .75);
}

footer a:hover, footer a:focus, footer a:active {
    transform: scale(1.2);
    transition: transform .1s linear .1s;
    color: #D45B12;
}

footer p {
    margin: 1em 0 0 0;
    color: rgba(255, 255, 255, .75);
    text-align: right;
    font-size: .75em;
    font-weight: 580;
}

footer p a {
    color: rgba(255, 255, 255, .75);
}


/* Inputs. */
input[type="submit"], input[type="reset"] {
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    background-color: transparent;
    border-radius: .35em;
    border: solid 3px #EFEFEF;
    color: #787878 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.15em;
    line-height: 2.75em;
    min-width: 12em;
    padding: 0 1.5em;
    margin-right: 1.5em;
    text-align: center;
    white-space: nowrap;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active, input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active {
    border-color: #D45B12;
    color: #D45B12 !important;
}

input[type="text"], input[type="email"], textarea {
    background: #f7f7f7;
    color: #787878 !important;
    font-size: 1em;
    border-radius: .5em;
    line-height: 1.75em;
    border: solid 2px transparent;
    display: inline-block;
    padding: .75em 1em;
    margin: 1em .5em 1em 0;
    outline: 0;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #D45B12;
}


/* Animations. */
nav {
    animation: slideInFromTop 1.5s;
}

#navBarButton {
    animation: slideInFromBottom 2.5s ease;
}

header {
    animation: slideInFromLeft 1.5s;
}

footer {
    opacity: 0;
    transform: translateX(-400px);
    animation: 1s bounceInFromLeft 1.5s;
    animation-fill-mode: forwards;
}

/* All elements in hidden class will fade in when appear in screen. */
.hidden {
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 1.5s;
}

@keyframes slideInFromTop {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes slideInFromBottom {
    from { transform: translateY(1000px); }
    to { transform: translateY(0); }
}

@keyframes slideInFromLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes bounceInFromLeft {
    0% { opacity: 0; transform: translateX(-400px); }
    60% { transform: translateX(30px); }
    80% { transform: translateX(-10px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(.5,.5) }
    to { opacity: 1; }
}

.bounceInFromRight {
    animation: 1.5s bounceInFromRight ease;
}

@keyframes bounceInFromRight {
    0% { opacity: 0; transform: translateX(400px); }
    60% { transform: translateX(-30px); }
    80% { transform: translateX(10px); }
    100% { opacity: .9; transform: translateX(0); }
}


/* Large screen size. */
@media screen and (max-width: 1280px) {
    header {
        padding: 7em 3em 3em 3em;
        width: 33%;
    }

    header h1 {
        font-size: 1.85em;
    }

    header h2 {
        font-size: .95em;
    }

    nav {
        margin-left: 33%;
        width: calc(100% - 33% - 4.35em);
    }

    main {
        margin-left: 33%;
        max-width: none;
        padding-left: 3em;
        padding-right: 3em;
        width: calc(100% - 33%);
    }
}


/* Medium screen size. */
@media screen and (max-width: 980px) {
    header {
        background-position: top left, center center;
        left: auto;
        padding: 6em 4em;
        text-align: center;
        position: relative;
        top: auto;
        width: 100%;
        display: block;
    }

    header h1 {
        font-size: 2.25em;
    }

    header h2 {
        font-size: 1em;
    }

    nav {
        position: sticky;
        top: 0;
        padding: 0.75em 0;
        width: calc(100% - 4.35em);
        margin-left: 0em;
        float: left;
        margin-top: -3.25em;
    }

    #navBarButton {
        height: 3.55em;
        position: sticky;
        top: 0;
        float: right;
    }

    main {
        margin: 0;
        padding-top: 2em;
        padding-left: 5em;
        padding-right: 5em;
        width: 100%;
    }

    footer {
        background-attachment: scroll;
        background-color: #1F1815;
        background-image:    url("images/overlay.png"), url("images/background.jpeg");
        background-position: top left,                  bottom center;
        background-repeat:   repeat,                    no-repeat;
        background-size:     auto,                      cover;

        padding: 7em 4em 5em 4em;
        position: relative;
        top: 4em;
        text-align: center;
        width: 100%;
    }

    footer p {
        text-align: center;
        margin-top: 5em;
    }

    nav {
        animation: slideInFromRight 1.5s;
    }

    @keyframes slideInFromRight {
        from { transform: translateX(100%); }
        to { transform: translateX(0); }
    }
}


/* Small screen size. */
@media screen and (max-width: 736px) {
    header {
        padding: 3.5em 1.5em;
    }

    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1em;
    }

    nav a {
        padding-left: .75em;
        padding-right: .75em;
    }

    main {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }

    footer {
        padding-top: 5em;
        padding-bottom: 2.5em;
    }
}


/* XSmall screen size. */
@media screen and (max-width: 480px) {
    .info {
        margin-left: calc(500px/2 - 50%);
    }

    #welcomeUser {
        margin-left: calc(600px/2 - 50%);
    }

    #welcomeUser a {
        display: none;
    }

    header {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    nav a {
        padding-left: .4em;
        padding-right: .4em;
    }

    nav.responsive {
        width: 200px;
        margin-left: calc(100% - 200px);
    }

    main {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}


/* Screen of small height. */
@media screen and (max-height: 400px) {
    footer {
        display: none;
    }
}
