/* David \'Alvarez Rosa's website main CSS Styles. */


/* Global. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Helvetica, Arial, sans-serif, FontAwesome;
    font-weight: 400;
    line-height: 1.75em;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #737373;
    /* text-align: justify; */
}

a {
    text-decoration: none;
    outline: 0;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    border-radius: 0;
}

.anchor {
    display: block;
    height: 5em;
    margin-top: -5em;
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

::-moz-focus-inner {
    border: none;
}

::selection {
    color: #000000;
    background: #D45B12;
}

.clear {
    clear: both;
}


/* Loading spinner. */
.preload * {
    animation-play-state: paused !important;
}

@keyframes spin {
    50% { transform: rotateZ(180deg); border-radius: 55%; }
    100% { transform: rotateZ(360deg); }
}

#loadingSpinner {
    width: 125px;
    height: 125px;
    position: fixed;
    top: calc(50% - 125px/2);
    left: calc(50% - 125px/2);
    z-index: 99999;
    display: flex;
    padding: 20px;
}

#loadingSpinner::before {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 10%;
    border: 25px inset #E65C00;
    animation: spin 1s infinite ease-in-out;
}

.hideLoadingSpinner {
    transition: 3s transform 1s linear;
    transform: translateY(1500px);
}


/* Information div. */
.info {
    position: fixed;
    width: 500px;
    max-width: 100%;
    height: 300px;
    left: calc(50% - 500px/2);
    top: calc(50% - 300px/2);
    z-index: 9999;
    background: #333333;
    opacity: .9;
    color: #F2F2F2;
    font-size: 1em;
    border-radius: .5em;
    line-height: 1.75em;
    border: solid 3px #D45B12;
    display: none;
    padding: .75em 1em;
    margin: 1em .5em 1em 0;
    outline: 0;
    box-shadow: 10px 10px 8px #000000;
}

.info strong {
    color: #D45B12;
    font-weight: 750;
}

.info p {
    color: #F2F2F2;
    margin-bottom: 1.5em;
}

.info a {
    color: #D45B12;
    font-weight: 750;
}

.info ul {
    list-style: none;
}

.info img:hover, .info img:focus {
    transform: scale(1.2);
    transition: transform .1s linear .1s;
}

#blurBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    background-color: #000000;
    opacity: .5;
    display: none;
}

#infoEmail {
    height: 175px;
    top: calc(50% - 175px/2);
}

#infoPhone {
    height: 200px;
    top: calc(50% - 200px/2);
}

#infoAddress {
    height: 215px;
    top: calc(50% - 215px/2);
}

/* Scroll back to top button. */
#scrollTop {
    visibility: hidden;
    position: fixed;
    bottom: 25px;
    right: 0px;
    transition: visibility .5s, opacity .5s linear;
    z-index: 9;
    background-color: #D45B12;
    border-radius: 600px 0 0 600px;
}

#scrollTop i {
    color: #000000;
    vertical-align: middle;
    margin: .275em;
    margin-right: .35em;
}

#scrollTopSpan {
    font-size: 1.1em;
    font-weight: 600;
    color: #000000;
    padding-left: .75em;
    margin-right: -.5em;
    display: none;
}


/* Navigation bar. */
#navBar {
    margin-left: 35%;
    width: calc(100% - 35%);
    position: fixed;
    z-index: 99;
}

#navBar div {
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 70px);
    padding: 12px 0;
    height: 70px;
    white-space: nowrap;
    transition: padding .4s linear, height .4s linear;
    background-image: linear-gradient(
        to bottom,
        rgba(51, 51, 51, .85) 0%,
        rgba(51, 51, 51, .85) 95%,
        transparent 95%,
        transparent 100%);
}

nav a {
    color: #F2F2F2;
    text-align: center;
    padding: 30px 16px;
    font-size: 1.1em;
    font-weight: 600;
    background-image: linear-gradient(#DDDDDD, #DDDDDD);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 0 95%;
    transition: background-color .25s, color .25s ease, background-size .5s, padding .4s linear;
}

nav a:hover, nav a:focus {
    color: #000000;
    background-size: 100% 95%;
}

nav a.current {
    color: #000000;
    background-color: #D45B12;
}

nav a.current:hover, nav a.current:focus {
    background-color: transparent;
    background-size: 100% 100%;
}

#navBarButton {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #FFFFFF;
    width: 70px;
    height: 67px;
    padding-top: .15em;
    background-color: #1A1A1A;
    opacity: .85;
    z-index: 1000;
    background-image: linear-gradient(#BFBFBF, #BFBFBF);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s ease, color .5s ease, height .4s linear;
}

#navBarButton:hover, #navBarButton:focus, #navBarExpandedButton:hover, #navBarExpandedButton:focus {
    color: #000000;
    background-size: 100% 100%;
}

#navBarButton i, #navBarExpandedButton {
    padding: .3em;
}

#navBarExpanded {
    width: 190px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #333333;
    z-index: 100;
    overflow-y: auto;
    border-left: 3px solid #D45B12;
    display: none;
}

#navBarExpanded ul {
    list-style: none;
}

.title {
    padding: .5em;
    color: #D45B12;
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 3px solid #D45B12;
}

#navBarExpanded ul li a {
    display: block;
    width: 100%;
    padding: 1.25em;
    border-bottom: 1px solid #787878;
    background-size: 0 100%;
    text-align: right;
}

#navBarExpanded a:hover, #navBarExpanded a:focus {
    background-size: 100% 100%;
}

#navBarExpanded ul li i {
    padding-left: .75em;
}

#navBarExpanded ul li p {
    vertical-align: center;
    padding: 1.5em;
    font-size: .9em;
    text-align: right;
}

#navBarExpandedButton {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #FFFFFF;
    width: 55px;
    height: 65px;
    padding-top: .75em;
    z-index: 1000;
    background-image: linear-gradient(#BFBFBF, #BFBFBF);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s ease, color .5s ease, height .4s linear;
}


/* Header. */
header {
    background-color: #1F1815;
    background-image:      url("images/overlay.png"), url("images/background.jpeg");
    background-position:   top left,                  top left;
    background-repeat:     repeat,                    no-repeat;
    background-size:       auto,                      cover;

    text-align: right;
    padding: 9% 4em;

    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%
}

header h1, h2 {
    color: rgba(255, 255, 255, .75);
}

header h1 {
    font-size: 2em;
    font-weight: 600;
}

header h2 {
    font-size: 1.1em;
    font-weight: 550;
}

header strong {
    color: #FFFFFF;
}


/* Main. */
main {
    margin-left: 35%;
    max-width: 54em;
    padding: 3em 4em 7.5em 4em;
    width: calc(100% - 35%);
    transition: width .3s linear;
}

.mainShrunken {
    width: calc(100% - 35% - 190px);
    padding: .75em 2.75em 4em 2.75em;
}

main h2, h3, h4, h5 {
    color: #666666;
    line-height: 1.5em;
}

main h2 {
    font-size: 2em;
    font-weight: 600;
}

main h2 i {
    float: right;
    font-size: .75em;
    padding-top: .5em;
}

main h3 {
    font-size: 1.25em;
    padding-bottom: -1em;
}

main h3 i {
    float: right;
    padding-top: 5px;
}

main h4 {
    font-size: .95em;
    padding-bottom: .25em;
}

main a {
    position: relative;
    text-decoration: none;
}

main p a, main ul li a {
    color: #D45B12;
}

main a:hover {
    color: #D45B12;
}

main a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

main a:before {
    background-color: #D45B12;
}

main a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

main p {
    margin-bottom: 1.5em;
}

.marginTop {
    margin-top: .5em;
}

main strong {
    font-weight: 600;
}

main section {
    padding-bottom: 3.5em;
}

main section h2 {
    border-bottom: solid 2px #B3B3B3;
    margin-bottom: .75em;
}

main section h3 {
    border-bottom: solid 1px #CCCCCC;
    margin-bottom: .75em;
}

main ul {
    margin-top: -.75em;
    margin-bottom: 1.5em;
    padding-left: 2.5em;
    color: #737373;
}

main .card {
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #DADCE0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    padding: .75em 1.25em 0 1.25em;
    margin-bottom: 1.25em;
}

main .dataLeft {
    float: left;
}

main .dataRight {
    float: right;
}

blockquote {
    background-color: #F2F2F2;
    padding: 1em 1em .5em 1em;
    border-radius: 4px;
}

blockquote p {
    padding: 0;
    margin: 0;
}

blockquote p i {
    margin-right: 1em;
}

.quoteAuthor {
    float: right;
}

#skillsList {
    margin-top: .5em;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    margin: .5em 0;
    list-style: none;
}

.skills li {
    border-radius: 10px;
    border: 1px solid #C7CAD1;
    background-color: #F2F2F2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    padding: .25em .75em;
    margin: .5em .5em;
}

.skills li i {
    margin-left: .25em;
}

.skills li a {
    color: #737373!important;
}

.skills li a:hover {
    color: #D45B12!important;
}

.language {
    position: relative;
    width: 100%;
    height: 30px;
    margin-top: 1.25em;
    margin-bottom: .25em;
    padding: 2px;
    border-radius: 6px 0 0 6px;
    border: 1px solid #9DA2AF;
    background-color: #F2F2F2;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}

.languageName {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    border-right: 3px solid #9DA2AF;
    border-radius: 6px 0 0 6px;
    color: #737373!important;
    background-color: #E6E6E6;
}

.languageLevel {
    position: absolute;
    top: 0;
    left: 100px;
    display: inline-block;
    width: 0;
    height: 100%;
    background-color: #D45B12;
    transition-property: width;
    transition-delay: .5s;
    transition-timing-function: ease-in-out;
}

.languageLevelQuick {
    transition-delay: 0s!important;
    transition-duration: 0s!important;
}

.languageLevel0 {
    transition-duration: 1.5s;
}

.languageLevel1 {
    transition-duration: 2s;
}

.languageLevel2 {
    transition-duration: 2.5s;
}

.languageLevelAnimate0 {
    width: calc(100% - 100px);
}

.languageLevelAnimate1 {
    width: calc(85% - 100px);
}

.languageLevelAnimate2 {
    width: calc(60% - 100px);
}

.languageText {
    margin: 0 !important;
    padding: 0 !important;
}

.cardAward {
    display: flex;
}

.award {
    width: calc(100% - 30px);
    padding-left: 1.5em;
    margin-top: -.75em;
    padding-top: .75em;
    background-image: linear-gradient(#666666 20%, rgba(255,255,255,0) 0%);
    background-position: left;
    background-size: 1px 6px;
    background-repeat: repeat-y;
}

.awardTrophyIcon {
    width: 30px;
    margin: auto .75em auto 0;
    text-align: center;
    color: #666666;
    font-size: 1.25em;
}

.awardText {
    margin: .75em 0;
}

#getInTouch {
    width: 70%;
    float: left;
    text-align: center;
}

#getInTouchRight {
    width: 35%;
    margin-left: 70%;
    padding: 6em 0 0 .25em;
}

#getInTouchRight ul li {
    padding-bottom: .5em;
}

#getInTouchRight ul li a {
    padding-left: .25em;
}


/* Footer. */
footer {
    text-align: right;
    padding-right: 4em;
    position: fixed;
    bottom: 2%;
    min-top: 600px;
    left: 0;
    width: 35%;
    color: rgba(255, 255, 255, .75);
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    list-style: none;
    width: 4.15em;
    text-align: center;
}

footer a:hover, footer a:focus {
    color: #D45B12;
    transform: scale(1.2);
    transition: transform .1s linear .1s;
}

footer p {
    margin: 1em 0 0 0;
    text-align: right;
    font-size: .75em;
    font-weight: 580;
}


/* Inputs. */
input[type="submit"], input[type="reset"] {
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    background-color: transparent;
    border-radius: .35em;
    border: solid 3px #EFEFEF;
    color: #787878 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.15em;
    line-height: 2.75em;
    min-width: 12em;
    padding: 0 1.5em;
    margin-right: 1.5em;
    text-align: center;
    white-space: nowrap;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="reset"]:hover, input[type="reset"]:focus {
    border-color: #D45B12;
    color: #D45B12 !important;
}

input[type="text"], input[type="email"], textarea {
    background: #f7f7f7;
    color: #787878 !important;
    font-size: 1em;
    border-radius: .5em;
    line-height: 1.75em;
    border: solid 2px transparent;
    display: inline-block;
    padding: .75em 1em;
    margin: 1em .5em 1em 0;
    outline: 0;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #D45B12;
}


/* Animations. */
#navBar {
    animation: slideInFromTop 1s;
}

#navBarExpanded {
    animation: slideInFromTop 1s;
}

#navBarButton {
    animation: slideInFromBottom 1.25s ease;
}

header {
    animation: slideInFromLeft 1s;
}

footer {
    opacity: 0;
    transform: translateX(-400px);
    animation: 1s bounceInFromLeft 1s;
    animation-fill-mode: forwards;
}

/* All elements in hidden class will fade in when appear in screen. */
.hidden {
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 1.25s;
}

@keyframes slideInFromTop {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes slideInFromBottom {
    from { transform: translateY(1000px); }
    to { transform: translateY(0); }
}

@keyframes slideInFromLeft {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes bounceInFromLeft {
    0% { opacity: 0; transform: translateX(-400px); }
    60% { transform: translateX(30px); }
    80% { transform: translateX(-10px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(.5,.5) }
    to { opacity: 1; }
}

.bounceInFromRight {
    animation: 1.5s bounceInFromRight ease;
}

@keyframes bounceInFromRight {
    0% { opacity: 0; transform: translateX(400px); }
    60% { transform: translateX(-30px); }
    80% { transform: translateX(10px); }
    100% { opacity: .9; transform: translateX(0); }
}


/* Large screen size. */
@media screen and (max-width: 1280px) {
    header {
        padding: 7em 3em 3em 3em;
        width: 33%;
    }

    header h1 {
        font-size: 1.85em;
    }

    header h2 {
        font-size: .95em;
    }

    #navBar {
        margin-left: 33%;
        width: calc(100% - 33%);
    }

    main {
        margin-left: 33%;
        max-width: none;
        padding-left: 3em;
        padding-right: 3em;
        width: calc(100% - 33%);
    }

    .mainShrunken {
        width: calc(100% - 33% - 180px);
        padding: .75em 2.75em 4em 2.75em;
    }
}


/* Medium screen size. */
@media screen and (max-width: 980px) {
    header {
        background-position: top left, center center;
        left: auto;
        padding: 6em 4em;
        text-align: center;
        position: relative;
        top: auto;
        width: 100%;
        display: block;
    }

    header h1 {
        font-size: 2.25em;
    }

    header h2 {
        font-size: 1em;
    }

    #navBar {
        position: sticky;
        top: 0;
        padding: 12px 0;
        width: 100%;
        margin-left: 0em;
    }

    #navBarDiv {
        margin-top: -.75em;
    }

    main {
        margin: 0;
        padding: 0 5em 5em 5em;
        width: 100%;
    }

    .mainShrunken {
        width: calc(100% - 190px);
        padding: .5em 2.75em 5em 2.75em;
    }

    footer {
        background-attachment: scroll;
        background-color: #1F1815;
        background-image:    url("/images/overlay.png"), url("/images/background.jpeg");
        background-position: top left,                  bottom center;
        background-repeat:   repeat,                    no-repeat;
        background-size:     auto,                      cover;

        padding: 7em 4em 5em 4em;
        position: relative;
        top: 4em;
        text-align: center;
        width: 100%;
    }

    footer p {
        text-align: center;
        margin-top: 5em;
    }

    #navBar {
        animation: slideInFromRight 1s;
    }

    @keyframes slideInFromRight {
        from { transform: translateX(150%); }
        to { transform: translateX(0); }
    }
}


/* Small screen size. */
@media screen and (max-width: 736px) {
    header {
        padding: 3.5em 1.5em;
    }

    header h1 {
        font-size: 2em;
    }

    header h2 {
        font-size: 1em;
    }

    #navBar a {
        padding-left: .75em;
        padding-right: .75em;
    }

    main {
        padding: 0 2.5em 1.5em 2.5em;
    }

    .mainShrunken {
        width: calc(100% - 190px);
        padding: .5em 2.5em 5em 2.5em;
    }

    main p {
        text-align: left;
    }

    #getInTouch {
        width: 100%;
        float: none;
    }

    #getInTouchRight {
        width: 100%;
        text-align: center;
        margin-left: -25px;
    }

    footer {
        padding-top: 5em;
        padding-bottom: 2.5em;
    }
}


/* XSmall screen size. */
@media screen and (max-width: 480px) {
    .info {
        margin-left: calc(500px/2 - 50%);
    }

    #welcomeUser {
        margin-left: calc(600px/2 - 50%);
    }

    #welcomeUser a {
        display: none;
    }

    header {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    #navBar a {
        padding-left: .4em;
        padding-right: .4em;
    }

    #navBarExpanded {
        width: 100%;
    }

    main {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .mainShrunken {
        width: 100%;
    }

    main .dataRight, main .dataLeft {
        float: none;
    }

    blockquote p i {
        margin-right: .5em;
    }

    .skills {
        margin-left: -5em;
    }

    .cardAward {
        display: block;
    }

    .award {
        width: 100%;
        background: transparent;
        margin: 0;
        padding: 0;
    }

    .awardTrophyIcon {
        padding: 0 0 .5em 0;
        margin: auto;
    }
}


/* Screen of small height. */
@media screen and (max-height: 400px) {
    footer {
        display: none;
    }
}






























/* ::-webkit-scrollbar { */
/*     width: 5px !important; */
/* } */

/* ::-webkit-scrollbar-track { */
/*     background-color: rgba(0, 0, 0, .25); */
/*     border-radius: 10px; */
/* } */

/* ::-webkit-scrollbar-thumb { */
/*     background-color: #D45B12; */
/*     border-radius: 10px; */
/* } */
