html {
	  padding-bottom: 100px;
    color: #858596;
	  background: #1b1b23;
	  font-family: sans-serif;
}

body {
    max-width: 1050px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 30px;
	  overflow: none;
}

button {
	  font-size: 23px;
	  font-weight: bold;
    width: 150px;
	  border: 2px solid gray;
    margin: 0px 15px 10px 15px;
}

img {
    padding: 15px;
    height: 125px;
}
