<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
  {{ partialCached "head/css.html" . }}
  {{ partialCached "head/js.html" . }}
</head>
<body>
  <header>
    <h1>{{ site.Title }}</h1>
    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>Copyright {{ now.Year }}. All rights reserved.</p>
  </footer>
</body>
</html>
