html {
    font-size: 16px;
}

body {
    width: 87.5%;
    margin: 4rem auto;
    padding-left: 12.5%;
    font-family: "Alegreya", serif;
    background-color: #fcfcfc;
    color: #111;
    max-width: 1200px;
    counter-reset: sidenote-counter;
}

h1 {
    border-top: 1px solid black;
    padding-top: 0.4rem;
    font-weight: normal;
    margin-bottom: 2.2rem;
    margin-top: 0;
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-family: "Alegreya SC";
    font-size: 1.6rem;
    font-variant-caps: small-caps;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 0.6rem;
    margin-top: 2rem;
    text-transform: lowercase;
}

.subtitle {
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    font-size: 1.4rem;
    display: block;
    font-weight: lighter;
}

sig {
    margin-bottom: 6rem;
    display: block;
    text-align: right;
    text-transform: lowercase;
    font-family: "Alegreya SC";
    font-variant-caps: small-caps;
    font-weight: 500;
}

.figure-number {
    display: none;
}

p,
dl,
ol,
ul,
sig {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.2rem;
    padding-right: 0;
    vertical-align: baseline;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: -0.5rem 0;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav li {
    margin: 0 !important;
    padding: 0;
    font-variant-caps: small-caps;
    font-family: "Alegreya SC";

    text-transform: lowercase;
    font-weight: 500;
}

nav li a {
    color: #111;
}

footer {
    border-top: 1px solid black;
    margin-top: 0.8rem;
}

footer p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0.6rem 0 !important;
}

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote p:last-of-type {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

h1,
h2,
p,
footer,
table,
sig,
dl,
.highlight {
    width: 55%;
}

ol,
ul {
    width: 52.5%;
    padding-inline-start: 2.5%;
}

ul p {
    width: 100%;
    margin: 0 !important;
}

p,
span,
dd,
ul,
ol {
    text-align: justify;
    hyphens: auto;
}

.sidenote,
.marginnote {
    text-align: left;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

table {
    font-family: "Alegreya Sans", sans-serif;
    border: none;
    border-collapse: collapse;
    font-size: 1.1rem;
    border-block: 2px solid #111;
}

table tbody tr:first-child td {
    border-top: 1px solid #111;
    padding-top: 0.6rem;
}

table th,
table td {
    padding: 0.4rem 1rem;
    text-align: left;
    vertical-align: middle;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    background: #f0f7ff;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 4px;
}

/* Sidenotes, margin notes, figures, captions */
main img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    border-radius: 8px;
    margin-right: 2rem;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote code,
.marginnote code {
    padding: 1px;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
    color: #660000;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

p code,
dl code,
ul code,
ol code,
td code,
span code {
    font-size: 1rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%;
    color: #660000;
    background: #f2f2f2;
    padding: 4px 2px 2px 2px;
    border-radius: 4px;
}

h1 > code,
h2 > code {
    font-size: 0.8em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

.chroma {
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
    overflow-x: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear: both;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
    position: relative;
    color: #660000;
}

label.sidenote-number::before {
    /* tap target 48px bigger all around */
    content: "";
    position: absolute;
    top: -24px;
    bottom: -24px;
    left: -24px;
    right: -24px;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.subscribe-form input[type="email"] {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    max-width: 20rem;
    width: 100%;
    border: 1px solid dimgray;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.subscribe-form button {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.3rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid dimgray;
    background: #f5f5f5;
    cursor: pointer;
}

.subscribe-form button:hover {
    background: #e8e8e8;
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }

    body {
        width: 90%;
        padding: 0;
    }

    h1,
  h2,
  h3,
  p,
  footer,
  table,
  sig,
  dl,
  .highlight {
      width: 100%;
  }

    ol,
  ul {
      width: 95%;
      padding-inline-start: 5%;
  }

    p,
  span,
  dd {
      text-align: left;
  }

    figure {
        max-width: 100%;
    }

    figcaption,
  figure.fullwidth figcaption {
      margin-right: 0%;
      max-width: none;
  }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
  blockquote footer {
      width: 100%;
  }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
  .marginnote {
      display: none;
  }

    .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
  }

    label {
        cursor: pointer;
    }
}
