@font-face {
    font-family: "et-book";
    src: url("/fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("/fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("/fonts/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("/fonts/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("/fonts/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("/fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("/fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("/fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("/fonts/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("/fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("/fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("/fonts/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("/fonts/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("/fonts/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("/fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("/fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("/fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("/fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("/fonts/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 16px;
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fcfcfc;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
        color: #ddd;
    }
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #111;
    margin: 1.4rem 0;
}

.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

sig {
    margin-bottom: 6rem;
    display: block;
    text-align: right;
    text-transform: lowercase;
    font-variant-caps: small-caps;
    font-weight: bold;
}

.numeral {
    font-family: et-book-roman-old-style;
}

.figure-number {
    display: none;
}

p,
dl,
ol,
ul,
sig {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

p:first-of-type {
    margin-top: 3.4rem;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: -0.5rem 0;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

nav li {
    margin: 0!important;
    padding: 0;
    font-variant-caps: small-caps;
    text-transform: lowercase;
}

nav li a {
    color: #111;
}

footer p {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0.6rem 0!important;
}

footer {
    margin-bottom: 4rem;
}

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote p:last-of-type {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

h1,
h2,
hr,
p,
footer,
table,
sig,
dl,
.highlight {
    width: 55%;
}

ol,
ul {
    width: 50%;
    padding-inline-start: 5%;
}

ul p {
    width: 100%;
    margin: 0!important;
}

p, span, dd, ul, ol {
    text-align: justify;
    hyphens: auto;
}

.sidenote, .marginnote {
    text-align: left;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

table {
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
    border: none;
    border-collapse: collapse;
    font-size: 1.1rem;
    border-block: 2px solid #111;
}

table tbody tr:first-child td {
    border-top: 1px solid #111;
    padding-top: 0.6rem;
}

table th,
table td {
    padding: 0.4rem 1rem;
    text-align: left;
    vertical-align: middle;
}

a {
    color: #003366;
    text-decoration: none;
}

a:hover {
    background: #f0f7ff;
    transition-property: background;
    transition-duration: 0.2s;
    border-radius: 4px;
}

/* Sidenotes, margin notes, figures, captions */
main img {
    width: 100%;
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote code,
.marginnote code {
    padding: 1px;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
    color: #660000;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

p code,
dl code,
ul code,
ol code,
td code,
span code {
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%;
    color: #660000;
    background: #f2f2f2;
    padding: 4px 2px 2px 2px;
    border-radius: 4px;
}

h1 > code,
h2 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

.chroma {
    font-size: 0.95rem;
    padding: 1em;
    overflow-x: auto;
    border-radius: 8px;
    border: 1px solid dimgray;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
    position: relative;
    color: #660000;
}

label.sidenote-number::before {  /* tap target 48px bigger all around */
    content: "";
    position: absolute;
    top: -24px; bottom: -24px; left: -24px; right: -24px;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.subscribe-form input[type="email"] {
    font-family: inherit;
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
    max-width: 20rem;
    width: 100%;
    border: 1px solid dimgray;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.subscribe-form button {
    font-family: inherit;
    font-size: 1.3rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid dimgray;
    background: #f5f5f5;
    cursor: pointer;
}

.subscribe-form button:hover {
    background: #e8e8e8;
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }

    body {
        width: 90%;
        padding: 0;
    }

    h1,
    h2,
    h3,
    hr,
    p,
    footer,
    table,
    sig,
    dl,
     .highlight {
        width: 100%;
    }

    ol,
    ul {
        width: 95%;
        padding-inline-start: 5%;
    }

    p, span, dd {
        text-align: left;
    }

    figure {
        max-width: 100%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }
}
