{{ $src := .src }}
{{ $priority := .priority }}

{{ $alt := path.BaseName $src | replaceRE `-` " " | strings.FirstUpper }}
{{ $src := strings.TrimPrefix "./assets/" .src }}
{{ $img := resources.Get $src }}

{{ if $img }}
  {{ $widths := slice 240 360 480 768 1024 1536 }}
  {{ $origWidth := $img.Width }}
  {{ $origHeight := $img.Height }}

  {{ $webpSrcset := slice }}
  {{ $origSrcset := slice }}
  {{ range $widths }}
    {{ if le . $origWidth }}
      {{ $resized := $img.Resize (printf "%dx webp #fcfcfc" .) }}
      {{ $webpSrcset = $webpSrcset | append (printf "%s %dw" $resized.RelPermalink .) }}
      {{ $resizedOrig := $img.Resize (printf "%dx #fcfcfc" .) }}
      {{ $origSrcset = $origSrcset | append (printf "%s %dw" $resizedOrig.RelPermalink .) }}
    {{ end }}
  {{ end }}

  <a href="{{ $img.RelPermalink }}">
  <picture>
    <source
      type="image/webp"
      srcset="{{ delimit $webpSrcset ", " }}"
      sizes="auto">
    <img
      src="{{ $img.RelPermalink }}"
      srcset="{{ delimit $origSrcset ", " }}"
      sizes="auto"
      width="{{ $origWidth }}"
      height="{{ $origHeight }}"
      alt="{{ $alt }}"
      loading="lazy"
      {{ if $priority }}fetchpriority="high"{{ end }}
      decoding="async">
  </picture>
  </a>
{{ else }}
  <a href="{{ $src }}"><img src="{{ $src }}" alt="{{ $alt }}" loading="lazy"{{ if $priority }} fetchpriority="high"{{ end }} decoding="async"></a>
{{ end }}
