{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
<p class="h-entry">
  <span class="side meta">
    <time class="date dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ partial "visible-tags.html" . }}
  </span>
  <a class="u-url p-name" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  <br/>
  <span class="summary p-summary">
    {{ .Summary | replaceRE `<sup id="fnref:.*?</sup>` "" | plainify | truncate 152 }}
  </span>
</p>
