<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ printf "%s | %s" .Title site.Title }}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{ replaceRE `^\x{00A0}\d(.*?)` `$1` .Plain | truncate 160 }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
  <meta property="og:title" content="{{ printf "%s | %s" .Title site.Title }}">
  <meta property="og:description" content="{{ replaceRE `^\x{00A0}\d(.*?)` `$1` .Plain | truncate 160 }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:site_name" content="{{ site.Title }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="/index.xml">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  {{ if .Params.latex }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
  {{ end }}
  {{ with slice (resources.Get "css/fonts.css") (resources.Get "css/main.css") (resources.Get "css/syntax.css") | resources.Concat "css/bundle.css" | minify }}
    <style>{{ .Content | safeCSS }}</style>
  {{ end }}
  <link rel="preload" href="/fonts/alegreya-normal-latin.woff2" as="font" type="font/woff2" crossorigin>
  {{ with resources.Get "js/instantpage.js" | minify | fingerprint }}
    <script defer src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous"></script>
  {{ end }}
  <script defer src="https://umami.alvarezrosa.com/script.js" data-website-id="ca48bc5a-733d-47f3-8240-59944a4d9bda"></script>
</head>
<body>
  <main>
    {{ block "main" . }}{{ end }}
    {{ with site.Menus.main }}
      <nav>
        <ul>
          {{ range . }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    {{ end }}
  </main>
  <footer>
    <p>Copyright 2018&ndash;{{ now.Year }} &centerdot; David Álvarez Rosa</p>
    <img src="/images/license.png" alt="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License." width="88" height="31">
    <p> Unless otherwise noted, site content is licensed under a <a href="/LICENSE">Creative Commons license</a>, and the <a href="https://github.com/david-alvarez-rosa/personal-website">source code</a> under the <a href="/COPYING">GNU GPL</a>. Opinions are my own and do not represent those of my employer.</p>
  </footer>
</body>
</html>
