{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  <h2>Blog Entries</h2>
  {{ range first 5 (where site.RegularPages "Section" "posts") }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <span class="marginnote">
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </span>
      <br/>
      {{ .Summary | plainify | truncate 140 }}
    </p>
  {{ end }}
{{ end }}
