{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ partial "processed-content.html" . }}

  <h2 id="recent-entries">Recent Entries <a class="anchor" href="#recent-entries">&sect;</a></h2>
  {{ range first 3 (where site.RegularPages "Section" "posts") }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      <br/>
      {{ .Summary | truncate 140 | plainify }}
    </p>
  {{ end }}

  <h2 id="subscribe">Subscribe<a class="anchor" href="#subscribe">&sect;</a></h2>
  <p>
    My mailing list is free and occasional.  I will never sell or share
   your email address.
  </p>
  <form action="pending" method="post" class="subscribe-form">
    <input type="email" required placeholder="your-name@domain.com" />
    <button type="submit">Subscribe</button>
  </form>
  {{ with site.Menus.main }}
    <nav>
      <ul>
        {{ range . }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}
