{{ define "main" }}
  <style>.side img { transition: transform 600ms ease; width: 240px;  margin-top: -20px; box-shadow: none; } @media (max-width: 860px) { .side img { margin-top: 0!important; margin-bottom: -1.6rem; } }</style>
  <script>
    document.addEventListener("mouseover", (e) => {
      const img = e.target.closest("img");
      if (!img) return;
      setTimeout(() => { img.style.transform = "rotate(180deg)"; }, 1000);
      setTimeout(() => { img.style.transform = ""; }, 3000);
    });
  </script>
  <h1>{{ .Title }}</h1>
  {{ partial "processed-content.html" . }}

  <h2 id="recent-entries">Recent Posts <a class="anchor" href="#recent-entries">&sect;</a></h2>
  {{ range first 3 (where site.RegularPages "Section" "posts") }}
    <p>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <span class="side">
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </span>
      <br />
      {{ .Summary | truncate 153 | plainify }}
    </p>
  {{ end }}

  <h2 id="subscribe">Subscribe<a class="anchor" href="#subscribe">&sect;</a></h2>
  <p>
    My mailing list is free, occasional, and covers a variety of topics.
    I will never sell or share your email address.
  </p>
  <form action="https://api.alvarezrosa.com/subscribe" method="post" class="subscribe-form">
    <input type="email" name="email" required placeholder="your-name@domain.com" />
    <button type="submit">Subscribe</button>
  </form>
{{ end }}
