{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
    {{ with .Params.subtitle }}<span class="subtitle">{{ . }}</span>{{ end }}
  </header>
  {{ .Content }}
  {{ $lastYear := 0 }}
  {{ range (where site.RegularPages "Section" "posts").ByDate.Reverse }}
    {{ $year := .Date.Year }}
    {{ if ne $year $lastYear }}
      {{ if ne $year now.Year }}<h2>{{ $year }}</h2>{{ end }}
      {{ $lastYear = $year }}
    {{ end }}
    <p>
      <span class="side meta">
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time class="date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        {{ with complement (slice "blog" "backlog" "pers") .Params.tags }}
          <span class="tags">{{ partial "tags.html" . }}</span>
        {{ end }}
      </span>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      <br/>
      {{ .Summary | replaceRE `<sup id="fnref:.*?</sup>` "" | plainify | truncate 152 }}
    </p>
  {{ end }}
{{ end }}
