{{ define "main" }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time class="subtitle" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  <h1>{{ .Title }}</h1>

  {{ partial "processed-content.html" . }}

  <sig>&mdash;{{ index .Params.Author 0 }}</sig>
  {{ with site.Menus.main }}
    <nav>
      <ul>
        {{ range . }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}
