{{ $width := .Get "width" | default "normal" }}

<!-- get a default label just in case -->
{{- $label := printf "%#v" (add .Ordinal 1) | printf "%s%s" "marginfig-" | printf "%s" -}}
{{- if .Get "label" -}}
{{- $label = .Get "label" -}}
{{- end -}}

<!-- begin figure tag -->
{{- if not (eq $width "margin") -}}
  {{ if eq $width "full" }}<!-- full -->
    <figure class="fullwidth">
  {{ else }}<!-- normal -->
    <figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
  {{ end }}
{{- end -}}

<!-- begin child elements -->
{{- if eq $width "full" -}}<!-- child for full -->
  <a href="{{ .Get "src" }}">
    <img src="{{ .Get "src" }}" alt="{{ .Get "caption" }}">
  </a>
  <figcaption>
{{- else -}}<!--  child for margin or normal (begin) -->

  {{- if or (or (.Get "caption") (.Get "attr")) (eq $width "margin") -}}<!-- begin marginnote -->
    <span class="side">
  {{- end -}}

  {{- if eq $width "margin" -}}<!-- margin image inside marginnote -->
    <a href="{{ .Get "src" }}">
      <img src="{{ .Get "src" }}" alt="{{ .Get "caption" }}">
    </a>
  {{- end -}}

{{- end -}}<!--  child for margin or normal (end) -->

{{ with .Get "caption"}}{{ . | markdownify }}{{ end }}

<!-- end child elements -->
{{ if eq $width "full" }}<!-- end full -->
  </figcaption>
{{ else }}<!--  end margin or normal -->
  {{- if or (or (.Get "caption") (.Get "attr")) (eq $width "margin") -}}</span>{{- end -}}<!-- end marginnote -->
{{ end }}

{{ if (eq $width "normal") }}
  <a href="{{ .Get "src" }}">
    <img src="{{ .Get "src" }}" alt="{{ .Get "caption" }}">
  </a>
{{ end }}

<!-- end figure tag -->
{{ if not (eq $width "margin") }}
</figure>
{{ end }}
