name: Playwright Tests

on:
  push:
    branches: [ main ]

jobs:
  playwright-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - uses: pnpm/action-setup@v4
        with:
          run_install: true

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: latest
          extended: true

      - run: pnpm exec playwright install-deps
      - run: pnpm exec playwright install
      - run: pnpm test

      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
